.App {
  text-align: center;
  min-height: 100vh;
  background-color: #FFC300;
}

.App-logo {
  height: 40vmin;
}

header {
  background-color: #282c34;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-style: bold;
}


.App-link {
  color: #09d3ac;
}
